<h1> What others think </h1>
<%= @poll.option1 %>:<%= @poll.option1count %><br>
<%= @poll.option2 %>:<%= @poll.option2count %><br>
<%= @poll.option3 %>:<%= @poll.option3count %><br>
<%= link_to "menu", :controller => "polls", :action => "index" %>
